includeConfig "$baseDir/params.config"


manifest {
  description = 'Trinity Assembler implemented with Nextflow on GCP'
  author = 'Adelaide Rhodes'
  nextflowVersion = '>=20.07.1'
}

/*
 * defines execution profiles for different environments
 */

profiles {
  gls {
    params.transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
//    params.reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
    params.multiqc = 'gs://rnaseq-nf/multiqc'
    process.driver = 'google'
    process.imageId = 'bioinformatics-280719/global/images/nextflow-base-image'
    process.executor = 'google-lifesciences'
 //   process.container = 'nextflow/rnaseq-nf:latest'
 //  Trying to set up two machine types this time
    process.machineType = 'n1-standard-64'
    imageId = 'bioinformatics-280719/global/images/nextflow-base-image'
    workDir = 'gs://lm-test-workflow-nextflow/0918test' // <- Should not be the top level of the bucket directory
    google.region  = 'us-east1'
    google.location = 'us-central1'
    google.project = 'bioinformatics-280719'
  }
}

process {
//  queue = 'biocore-el7,long-sl7,short-sl7'
//  memory='12G'
  container = 'arhodes77/rnaseq-trinity:dsl2'
  withLabel: big_time_cpus {
//       machineType = 'n1-standard-16'
	   memory = '60G'
       time = '48h'
       cpus = 16	  
  }
  withLabel: assembly {
 //       machineType = 'n1-standard-64'
        memory = '240G'
        time = '48h'
        cpus = 64
  }
  withLabel: big_cpus {
 //       machineType = 'n1-standard-16'
	    memory = '60G'
        time = '48h'
        cpus = 16

  }
  withLabel: big_mem_cpus {
  //      machineType = 'n1-standard-64'
        memory = '240G'
        time = '48h'
        cpus = 64
  }
  withLabel: increase_mem {
       errorStrategy = 'retry'
       memory = {10.GB * task.attempt}
       cpus = 1
       time = {6.h * task.attempt}
       maxRetries = { task.exitStatus == 140 ? 4 : 1 }
  }	
}

// singularity.enabled = true
// singularity.cacheDir = "/software/bi/biocore_tools/git/singularity"
