params {
    pairs   = "$baseDir/../test_data/*_{1,2}.fq.gz"
//    output  = "gs://lm-test-workflow-nextflow/0918test/output_pe"
//    output  = "output_pe"
    minsize = 70
    strandness  = "NO"
    single = "NO"
    geneticode = "Universal"
    minProtSize = 100
    email   = "YOUREMAIL@YOURDOMAIN"
}
